<%- include('partials/header') %> <%- include('partials/navbar') %>

<!-- product items -->

<section class="product">

  <% pageProducts.forEach(product => { %>

  <div class="product-card">
    <div class="product-img">
      <img src="<%=product.img%>" alt="" />
    </div>
    <div class="product-info">
      <h3><%= product.name %></h3>
      <p><%= product.Description %></p>
      <p>Rs. <%= product.price %></p>
        <a href="/products/<%= product.id %>"><button class="btn-product">Add to Cart</button></a>
    </div>
  </div>
  <% }); %>
</section>

<%- include('partials/footer') %>
